body {
  background-color: #EEF6F9;
}

.footer-container {
  display: flex;
  min-height: 32vh;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  text-align: center;
}

.finance-card {
  display: none;
}

.finance-card.show {
  display: block;
}

audio {
  width: 15rem;
  border-radius: 0px;
}

.goal-card {
  display: none;
}

.goal-card.show {
  display: block;
}

.page-header {
  font-family: 'Open Sans', sans-serif;
}

.main-page {
  font-family: 'Montserrat', sans-serif;
  color: #1D282E;
  background-color: #EEF6F9;
}

.my-navbar {
  background-color: #1D282E;
  font-family: 'Open Sans', sans-serif;
}
