body {
  background-color: #EEF6F9;
}

.footer-container {
  display: flex;
  min-height: 32vh;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  text-align: center;
}

.finance-card {
  display: none;
}

.finance-card.show {
  display: block;
}

audio {
  width: 15rem;
  border-radius: 0px;
}

.goal-card {
  display: none;
}

.goal-card.show {
  display: block;
}

.page-header {
  font-family: 'Open Sans', sans-serif;
}

.main-page {
  font-family: 'Montserrat', sans-serif;
  color: #453C41;
  background-color: #ECEBE9;
  /* #EEF6F9 */
}

.my-navbar {
  background-color: #4C8891;
  font-family: 'Open Sans', sans-serif;
  /* #1D282E */
}

.goal-stretch {
  background-color: #4C8891;
  color: whitesmoke;
  font-family: 'Open Sans', sans-serif;
}

.mid-breaker {
  height: 0.5rem;
  border: none;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  margin-bottom: 2rem;
}

.break-lines{
  height: 0.5rem;
}

.goal-text {
  font-family: 'Open Sans', sans-serif;
  font-size: large;
}

.accordion-text {
  color: #453C41;
}

.toast-title {
  color: whitesmoke;
}
