body {
  background-color: white;
}

.footer-container {
  display: flex;
  min-height: 32vh;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  text-align: center;
}

.finance-card {
  display: none;
}

.finance-card.show {
  display: block;
}

audio {
  width: 15rem;
  border-radius: 0px;
}


