#spinner {
    display: none;
  }
  
#spinner1 {
    display: none;
}

.highlight {
    background-color: gold;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  