<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Life Goals</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="goals navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGoal"
          aria-controls="navbarGoal" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarGoal">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('goals')}}">Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('connections')}}">Connections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('finance')}}">Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('bucket_list')}}">Bucket List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container" style="height: 2rem;">
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center bg-light">
      <div class="col-md-9 p-lg-5 mx-auto my-5">
        <h4 class="display-5 fw-normal">Work on a goal.</h4>
        <p class="lead fw-normal mb-4">"Discovering your purpose, spirituality, mental capabilities, and physical health
          are
          all crucial elements that contribute to a fulfilling life. By reflecting on what you want your life to stand
          for, what brings you spiritual grounding, what skills you wish to develop, and what kind of body you aspire to
          have, you are taking the first step towards setting meaningful goals for yourself. These prompts serve as a
          starting point for you to explore and refine your personal aspirations. Embrace the journey of self-discovery
          and make a conscious effort to actively shape the life you desire."
        </p>
        <!-- <button class="btn btn-dark" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling"
          aria-controls="offcanvasScrolling">Life Goal Primers</button> -->


        <div class="container">
          <div class="modal" id="modal-purpose" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Purpose.</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Your purpose in life is a reflection of your unique self, and discovering it is a journey of
                    self-discovery. It's not about finding the right answer, but rather exploring and refining your
                    personal values, passions, and aspirations. Embrace this opportunity to actively shape the
                    impact you want to make in the world, and know that your purpose is always evolving as you grow
                    and learn.</p>
                  <audio controls>
                    <source src="{{ url_for('static', filename='synthesized_audio_purpose.mp3') }}" type="audio/mpeg">
                  </audio>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="modal-spirit" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Spiritual Goal</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Embracing spirituality can bring a deeper sense of meaning and connection to your life. Whether
                    you have a established spiritual practice or seeking to explore it, take time to reflect on what
                    brings you a sense of grounding and fulfillment. Consider incorporating activities such as
                    prayer or meditation into your daily routine to strengthen your spiritual connection. Make a
                    conscious effort to prioritize this aspect of your life and watch as it enriches and transforms
                    you from within.</p>
                  <audio controls>
                    <source src="{{ url_for('static', filename='synthesized_audio_spirit.mp3') }}" type="audio/mpeg">
                  </audio>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="modal-mental" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Mental-development Goal.</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Challenging your mind leads to personal growth and development. Take the initiative to equip
                    your mind with new knowledge, skills and abilities by setting achievable goals, such as learning
                    a new language or taking up a new hobby. By treating your mind as a tool that can be sharpened
                    and honed, you open up a world of possibilities and pave the way for a life of continued
                    learning and self-improvement.</p>
                  <audio controls>
                    <source src="{{ url_for('static', filename='synthesized_audio_mental.mp3') }}" type="audio/mpeg">
                  </audio>
                </div>
              </div>
            </div>
          </div>
          <div class="modal" id="modal-physical" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Physical Health Goals.</h5>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p>Your body is your temple, and taking care of it enhances your overall quality of life. Take
                    ownership of your physical health by setting goals for your ideal physique, not just in
                    appearance, but also in functionality. Consider the physical activities you enjoy or wish to
                    participate in, and imagine what type of body would allow you to fully experience and enjoy
                    them. Use this insight to create a plan of action that empowers you to achieve and maintain a
                    healthy and functional body.</p><audio controls>
                    <source src="{{ url_for('static', filename='synthesized_audio_body.mp3') }}" type="audio/mpeg">
                  </audio>
                </div>
              </div>
            </div>
          </div>
          <form class="life-goal-form g-3 text-start" method="post">
            <div class="mb-3">
              <label for="life-goals" class="display-6 fw-normal pb-1 mt-3">Goal:</label>
              {% with messages = get_flashed_messages() %}
              {% if messages %}
              {% for message in messages %}
              <p class="flashes" style="color: red;">{{ message }}</p>
              {% endfor %}
              {% endif%}
              {% endwith %}
              <select class="form-select fw-normal" aria-label="Default select example" name="life-goals"
                id="life-goals">
                <option value="selection">Select a Goal:</option>
                <option value="Purpose">Purpose</option>
                <option value="Spirit">Spirit</option>
                <option value="Mental">Mental</option>
                <option value="Physical">Physical</option>
              </select>
            </div>
            <textarea class="form-control mb-3" id="lifeGoalFormControlTextarea" name="lifeGoalFormControlTextarea"
              rows="6"></textarea>
            <div>
              <button type="submit" id="submitButton" class="btn btn-lg btn-dark mb-3">Add Goal</button>
            </div>
        </div>
        </form>
      </div>
    </div>
  </div>
  </div>
  <div class="container">
    <footer class="py-3 my-4">
      <p class="text-center text-muted">© 2023 Life Balance, Inc</p>
    </footer>
  </div>
  <script>
    document.getElementById("submitButton").addEventListener("click", function (event) {
      var selectedOption = document.getElementById("life-goals").value;
      if (selectedOption === "selection") {
        event.preventDefault();
        alert("Please select a specific goal.");
      }
    });

    const select = document.getElementById("life-goals");
    select.addEventListener("change", function () {
      const selectedOption = select.value;

      if (selectedOption === "Purpose") {
        document.getElementById("modal-purpose").style.display = "block";
      } else if (selectedOption === "Spirit") {
        document.getElementById("modal-spirit").style.display = "block";
      } else if (selectedOption === "Mental") {
        document.getElementById("modal-mental").style.display = "block";
      } else if (selectedOption === "Physical") {
        document.getElementById("modal-physical").style.display = "block";
      }
    });

    const closeButtons = document.querySelectorAll(".btn-close");
    closeButtons.forEach(function (closeButton) {
      closeButton.addEventListener("click", function () {
        const modal = closeButton.closest(".modal");
        modal.style.display = "none";
      });
    });

  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>