<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Deep Connections</title>
  <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="main-page">
  <noscript>
    <style>
      #js-disabled-message {
        display: block !important;
      }
    </style>
    <div id="js-disabled-message" class="alert alert-danger">
      This website requires JavaScript to function properly. Please enable JavaScript in your browser settings.
    </div>
  </noscript>
  <header class="main-page">
    <nav class="my-navbar navbar navbar-expand-md navbar-dark" aria-label="goals navbar">
      <div class="container-fluid my-navbar">
        <a class="navbar-brand fw-normal fs-3 my-navbar" href="{{url_for('home')}}">LifePath</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarConnect"
          aria-controls="navbarConnect" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarConnect">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link fs-5" href="{{url_for('goals')}}">Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active fs-5" aria-current="page" href="{{url_for('connections')}}">Connections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{{url_for('finance')}}">Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{{url_for('bucket_list')}}">Bucket List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link fs-5" href="{{url_for('logout')}}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container main-page">
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center">
      <div class="col-md-9 p-lg-5 mx-auto my-5">
        <h4 class="display-3 fw-bold pb-2">Relationships.</h4>
        <p class="lead fw-normal fs-4"><em>Reflecting on what a person means to you can help you develop deeper
          connections with them. Consider what you would like to say to them while they are alive, how often you
          need to make time for them, and what you would say to them on their birthday or at their funeral.
          While this can be a heavy exercise, it can help you think more deeply about the person and be more
          intentional in your interactions with them in the future. Use this exercise as an opportunity to
          strengthen your relationships with those who matter most to you.</em>
        </p>

        <div class="container main-page">
          <hr class="mid-breaker mt-4">
          <form class="connections-form g-3 text-start" method="post">
            <div class="mb-3">
              <label for="entryName" class="fw-bold fs-5">Name</label>
              <input type="text" class="form-control" id="entryName" name="entryName" placeholder="Name">
            </div>
            <div class="mb-3">
              <label for="entryRelate" class="fw-bold fs-5">Relationship</label>
              <input type="text" class="form-control" id="entryRelate" name="entryRelate"
                placeholder="Relationship. e.g Friend">
            </div>
            <div class="mb-3">
              <label for="entryDate" class="fw-bold fs-5">Birthday</label>
              <input type="date" class="form-control" id="entryDate" name="entryDate">
            </div>
            <div class="mb-1">
              <label for="relationshipFormControlTextarea" class="fw-bold fs-5">Your thoughts</label>
              <textarea class="form-control" id="relationshipFormControlTextarea" name="relationshipFormControlTextarea"
                rows="6" oninput="countChars(this,1000)"></textarea>
              <div id="charNum"></div>
            </div>

            <div class="col">
              <button type="submit" class="btn btn-lg btn-dark mb-3 w-normal fs-5" style="background-color: #453C41">Add Connection</button>
            </div>
          </form>
          <hr class="mid-breaker mt-4">
        </div>
      </div>
    </div>
  </div>
  <script>
    function countChars(textarea, limit) {
      var value = textarea.value;
      var characterCount = value.length;
      var characterCountElement = document.getElementById("charNum");
      characterCountElement.innerHTML = characterCount + " / " + limit;
      if (characterCount > limit) {
        textarea.value = value.slice(0, limit);
        characterCountElement.style.color = "red";
        characterCountElement.innerHTML = "Max limit of " + limit + " characters reached!";
      } else {
        characterCountElement.style.color = "inherit";
      }
    }


  </script>

  <div class="container footer-container">
    <footer class="footer mt-auto py-3 my-4 pt-5">
      <p>&copy; <span id="year"></span> Life Balance, Inc</p>
    </footer>
  </div>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>