<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Relationships</title>
  <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='lpmfavicon.png')}}"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="main-page">
  <header class="main-page navs-link">
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark" aria-label="goals navbar">
      <div class="container-fluid my-navbar">
        <a class="navbar-brand fw-bold fs-3 my-navbar" href="{{url_for('home')}}">{{name}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarConnect"
          aria-controls="navbarConnect" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarConnect">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('goals')}}">Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('connections')}}">Relationships</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('finance')}}">Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('bucket_list')}}">Bucket List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('journal')}}">Daily-Journal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
          </ul>
          <div class="text-start me-5">
            <script class="pizza" target="_blank" rel="noopener noreferrer" type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="siphiwereah" data-color="#F3D408" data-emoji="🍕"  data-font="Poppins" data-text="Buy us a pizza" data-outline-color="#000000" data-font-color="#000000" data-coffee-color="#ffffff" ></script>
          </div>
        </div>
      </div>
    </nav>
  </header>

  <div class="container main-page pb-4">
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center">
      <div class="col-lg-12 col-md-9 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold pb-2">Relationships</h1>
        {% if current_user.num_connections == 0 %}
        <p class="lead fw-normal fs-4"><em>Take time to reflect on those closest to your heart - the relationships we
            choose have a profound impact on our happiness and well-being. In this section, we'll help you appreciate
            the good people in your life and identify where you can invest more time and effort. Having family and
            friends who love you for who you are is a precious gift, so it's important to nurture these relationships
            over time.</em>
        </p>
        <a type="submit" class="btn btn-dark btn-lg m-1" href="{{url_for('add_connections')}}"
          style="background-color: #453C41">Dive in</a>
        {% endif %}
        {% if current_user.num_connections == 1 %}
        <p class="lead fw-normal fs-4"><em>This individual is a wonderful addition to your life {{current_user.username.title()}}, and we encourage you
            to show your appreciation for them in meaningful ways. The thoughts you have recorded about your loved ones
            can be a great source of inspiration for personalized birthday messages. Feel free to incorporate some of
            the sentiments you've expressed here into your greetings for this special person.</em>
        </p>
        <a type="submit" class="btn btn-dark btn-lg m-1" href="{{url_for('add_connections')}}"
          style="background-color: #453C41">Add Another Person</a>
        {% endif %}
        {% if current_user.num_connections > 1 %}
        <p class="lead fw-normal fs-4"><em>These individuals are a wonderful addition to your life {{current_user.username.title()}}, and we encourage you
            to show your appreciation for them in meaningful ways. The thoughts you have recorded about your loved ones
            can be a great source of inspiration for personalized birthday messages. Feel free to incorporate some of
            the sentiments you've expressed here into your greetings for these special people.</em>
        </p>
        <a type="submit" class="btn btn-dark btn-lg m-1" href="{{url_for('add_connections')}}"
          style="background-color: #453C41">Add Another Person</a>
        {% endif %}
      </div>
    </div>
    <noscript>
      <style>
        #js-disabled-message {
          display: block !important;
        }
      </style>
      <div id="js-disabled-message" class="alert alert-danger">
        This website requires JavaScript to function properly. Please enable JavaScript in your browser settings.
      </div>
      <input type="hidden" name="status" id="status" value="False">
    </noscript>
    <hr class="mid-breaker">
    <div class="row align-items-md-stretch">
      {% for connection in user_connections %}
      {% if user_connections|length == 1 %}
      <div class="col-lg-12 col-md-12"></div>
      {% endif %}
      {% if user_connections|length > 1 %}
      <div class="col-lg-6 col-md-12">
      {% endif %}
        <div class="h-100 p-5 goal-stretch border rounded">
          <h2 class="fw-normal fs-1">{{d_func(connection.name)}} | {{d_func(connection.relationship_to_user)}}</h2>
          <hr class="break-lines">
          <p id="goal-text-{{connection.id}}" class="goal-text">
            <span id="short-text-{{connection.id}}"><em>"{{d_func(connection.relationship_thoughts) |
                truncate(150)}}"</em></span>
            {% if d_func(connection.relationship_thoughts)|length > 150 %}
            <span id="dots-{{connection.id}}"></span>
            <span id="more-{{connection.id}}"
              style="display: none;"><em>"{{d_func(connection.relationship_thoughts)}}"</em></span>
            <a href="#" onclick="showMore('{{connection.id}}', event)" id="read-more-{{connection.id}}"
              style="color: whitesmoke;">Read more</a>
            {% endif %}
          </p>
          <hr class="break-lines">
          <a type="submit" class="btn btn-outline-light btn-sm m-1"
            href="{{url_for('connections_edit', connect_id=connection.id)}}">Edit</a>
          {% if current_user.use_count > 0 %}
          <a type="submit" class="btn btn-outline-light btn-sm m-1 ai-button" data-connect-id="{{ connection.id }}"
            href="{{url_for('connections_ai_enhance_edit', connect_id=connection.id)}}" id="ai-enhance-button-two"
            rel="noopener noreferrer">AI Enhance</a>
          {% endif %}
          <a type="submit" class="btn btn-outline-light btn-sm m-1"
            href="{{url_for('delete_connection', connect_id=connection.id)}}">Delete</a>
          {% if current_user.use_count <= 0 %} <div>
            <p class="fw-normal fs-5 mt-2 ps-1">You have run out of AI-Edits for this month.</p>
        </div>
        {% endif %}
        <div class="d-flex align-items-center mt-3">
          <strong id="spinner1_{{ connection.id }}" style="display: none;">Generating edit...</strong>
          <div class="spinner-border ms-auto" role="status" aria-hidden="true" id="spinner_{{ connection.id }}"
            style="display: none;"></div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>

  <hr class="mid-breaker mt-4">
  </div>
  <div class="container">
    <footer class="footer mt-auto my-4 pt-5 text-center fw-bold fs-5">
      <div class="row justify-content-center mb-3">
        <div class="col-auto">
          <a href="{{url_for('mission')}}" class="nav-link" style="color: #453C41;">Mission</a>
        </div>
        <div class="col-auto">
          <a type="button" href="{{url_for('privacy')}}" class="nav-link" style="color: #453C41;">Privacy</a>
        </div>
        <div class="col-auto">
          <a href="{{url_for('contact')}}" class="nav-link" style="color: #453C41;">Contact</a>
        </div>
      </div>
      <p>&copy; <span id="year"></span> {{name}}, Inc</p>
    </footer>
  </div>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear(), document.querySelectorAll(".ai-button").forEach(function (e) { e.addEventListener("click", function () { var e = "spinner_" + this.dataset.connectId, t = "spinner1_" + this.dataset.connectId; document.getElementById(t).style.display = "block", document.getElementById(e).style.display = "block", this.disabled = !0 }) });
  </script>
  <script>
    function showMore(e, n) { n.preventDefault(); var l = document.getElementById("dots-" + e), t = document.getElementById("more-" + e), s = document.getElementById("short-text-" + e), y = document.getElementById("read-more-" + e); "none" === l.style.display ? (l.style.display = "inline", y.innerHTML = "Read more", t.style.display = "none", s.style.display = "inline") : (l.style.display = "none", y.innerHTML = "Show less", t.style.display = "inline", s.style.display = "none") }
  </script>
  <script>
    // Get the button element
    const aiButton = document.getElementById('ai-enhance-button-two');

    // Add a click event listener to the button
    aiButton.addEventListener('click', function (event) {
      // Prevent the default behavior of the button
      event.preventDefault();

      // Generate a unique identifier for the URL
      const uniqueId = new Date().getTime();

      // Get the URL of the button and append the unique identifier to the query string
      const url = this.href + '?_=' + uniqueId;

      // Open the URL in the same window
      window.location.href = url;

      // Reload the page when the user navigates away from the AI Enhance page
      window.addEventListener('unload', function () {
        window.location.reload();
      });
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>