<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{name}}</title>
  <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
  <link rel="shortcut icon" type="image/png" href="{{url_for('static', filename='lpmfavicon.png')}}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="main-page">
  <noscript>
    <style>
      #js-disabled-message {
        display: block !important;
      }
    </style>
    <div id="js-disabled-message" class="alert alert-danger">
      This website requires JavaScript to function properly. Please enable JavaScript in your browser settings.
    </div>
  </noscript>
  <header class="main-page navs-link">
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark" aria-label="goals navbar">
      <div class="container-fluid my-navbar">
        <a class="navbar-brand fw-bold fs-3 my-navbar" href="{{url_for('home')}}">{{name}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGoal"
          aria-controls="navbarGoal" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon my-navbar"></span>
        </button>

        <div class="collapse navbar-collapse my-navbar" id="navbarGoal">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('implements_login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('implement_registration')}}">Sign up</a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{url_for('goals')}}">Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('connections')}}">Relationships</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('finance')}}">Finances</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('bucket_list')}}">Bucket List</a>
            </li>
            {% if current_user.is_admin %}
            <li class="nav-item">
              <a class="nav-link active" href="{{url_for('journal')}}">Daily-Journal</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('delete_user')}}">Admin</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
            {% endif %}
          </ul>
          <div class="text-end pe-5">
            <a href="https://www.buymeacoffee.com/siphiwereah" target="_blank" rel="noopener noreferrer"
              class="pizza"><img
                src="https://img.buymeacoffee.com/button-api/?text=Buy us a pizza&emoji=&slug=siphiwereah&button_colour=FFDD00&font_colour=000000&font_family=Poppins&outline_colour=000000&coffee_colour=ffffff" /></a>
          </div>
        </div>
      </div>
    </nav>
  </header>



  <div class="container main-page home">
    <div class="container pb-4 main-page">
      <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center">
        <div class="col-lg-12 col-md-9 p-lg-5 mx-auto my-5">
          <h1 class="display-3 fw-bold pb-2">Hi {{current_user.username.title()}}.</h1>
          <p class="lead fw-normal fs-4"><em>Keeping a journal can be a transformative habit. It allows you to declutter
              your mind, release pent-up emotions, and gain a deeper understanding of your own personal growth over
              time. When you look back at what you've written previously, it can be a powerful reminder of how far
              you've come.</em>
          </p>
          {% with messages = get_flashed_messages() %}
          {% if messages %}
          {% for message in messages %}
          <p class="flashes" style="color: red;">{{ message }}</p>
          {% endfor %}
          {% endif%}
          {% endwith %}
          <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center">
            <button type="button" class="btn btn-dark mt-1" data-bs-toggle="modal" data-bs-target="#new-entry-modal"
              style="background-color: #453C41">
              New Entry
            </button>
            <button class="btn btn-dark mt-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop"
              aria-controls="staticBackdrop" style="background-color: #4C8891">Past
              Entries</button>
          </div>
          <!-- Modal Container -->
          <div class="container text-start journal-page">
            <!-- Modal -->
            <div class="modal fade" id="new-entry-modal" tabindex="-1" aria-labelledby="new-entry-modal-label"
              aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title fw-bold" id="new-entry-modal-label">New Entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form class="Journal-form" id="Journal-form" name="Journal-form" method="post">
                      <div class="mb-3">
                        <label for="content" class="form-label fw-bold" style="color: #453C41;">What's on your
                          mind?</label>
                        <textarea class="form-control" id="content" name="content" rows="4" maxlength="1000"></textarea>
                        <div id="charCount">0/1000 characters</div>
                      </div>
                      <noscript>
                        <style>
                          #js-disabled-message {
                            display: block !important;
                          }
                        </style>
                        <div id="js-disabled-message" class="alert alert-danger">
                          This website requires JavaScript to function properly. Please enable JavaScript in your
                          browser settings.
                        </div>
                        <input type="hidden" name="status" id="status" value="False">
                      </noscript>
                      <div>
                        <button type="submit" name="Journal-form" class="btn btn-dark btn-sm"
                          style="background-color: #453C41">Save</button>
                      </div>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- off-canvas Container -->
          <div class="container text-center journal-page">
            <div class="offcanvas offcanvas-start  w-100 journal-page {{ 'show' if cv_o else '' }}"
              data-bs-backdrop="static" tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
              <div class="offcanvas-header journal-page">
                <h2 class="offcanvas-title fw-bold journal-page" id="staticBackdropLabel">Journal</h2>
                <button type="button" class="btn btn-dark" data-bs-dismiss="offcanvas" aria-label="Close"
                  style="background-color: #453C41">Close</button>
              </div>
              <div class="offcanvas-body journal-page">
                <hr>
                <form class="Journal-date-form" id="Journal-date-form" name="Journal-date-form" method="post">
                  <div class="accordion accordion-flush journal-page" id="accordionFlushExample">
                    <div class="accordion-item">
                      <h2 class="accordion-header" id="flush-headingOne">
                        <button class="accordion-button collapsed fw-bold fs-5" type="button" data-bs-toggle="collapse"
                          data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                          style="background-color: whitesmoke;">
                          Search By Date
                        </button>
                      </h2>
                      <div id="flush-collapseOne" class="accordion-collapse collapse journal-page"
                        aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
                        <div class="accordion-body journal-page text-start">
                          <div class="form-group text-start row gy-2 gx-3">
                            <div class="col-md-3">
                              <label for="Journal-Year">Year:</label>
                              <select class="form-select fw-normal" id="Journal-Year" name="Journal-Year">
                                <option value="" disabled selected>Select year</option>
                                {% for year_ in journal_dict.keys() %}
                                <option value="{{ year_ }}">{{year_}}</option>
                                {% endfor %}
                              </select>
                            </div>

                            <br>
                            <div class="col-md-3">
                              <label for="month">Month:</label>
                              <select class="form-select fw-normal" id="month" name="month" disabled>
                                <option value="">Select month</option>
                              </select>
                            </div>

                            <br>
                            <div class="col-md-3">
                              <label for="day">Day:</label>
                              <select class="form-select fw-normal mb-3 col-auto" id="day" name="day" disabled>
                                <option value="">Select day</option>
                              </select>
                            </div>

                            <!-- <label for="date" class="fw-bold mb-1">Search Entries By Date</label>
                            <input type="date" class="form-control mb-3" id="date" name="date"
                              onchange="highlightDates()"> -->
                          </div>

                          <button type="submit" name="Journal-date-form" class="btn btn-dark text-start"
                            style="background-color: #453C41">Search</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <hr>
                {% if not searched %}
                <h2 class="fw-bold text-center mb-3">Your Latest Entries</h2>
                {% endif %}
                {% if searched %}
                <div class="mb-3">
                  <h2 class="fw-bold text-center mb-3">Your result</h2>
                  <a type="submit" class="btn btn-dark mb-3" href="{{url_for('journal', cv_o=True)}}"
                    style="background-color: #453C41">Latest Entries</a>
                </div>
                {% endif %}
                <div class="row align-items-md-stretch">
                  {% for entry in journal_entries %}
                  {% if entry.entry_date_time != None %}
                  <div class="col-md-6">
                    <div class="h-100 p-5 goal-stretch border rounded"
                      style="background-color: #A0C8C3; color: #453C41;">
                      <h2 class="fw-bold">{{entry.entry_date_time}}</h2>
                      <hr class="break-lines">
                      <p id="goal-text-{{entry.id}}" class="goal-text">
                        <span id="short-text-{{entry.id}}"><em>"{{d_func(entry.journal_entry) |
                            truncate(150)}}"</em></span>
                        {% if d_func(entry.journal_entry)|length > 150 %}
                        <span id="dots-{{entry.id}}"></span>
                        <span id="more-{{entry.id}}"
                          style="display: none;"><em>"{{d_func(entry.journal_entry)}}"</em></span>
                        <a href="#" onclick="showMore('{{entry.id}}', event)" id="read-more-{{entry.id}}"
                          style="color: #453C41;">Read more</a>
                        {% endif %}
                      </p>
                      <hr class="break-lines">
                      <a type="submit" class="btn btn-outline-dark btn-sm m-1"
                        href="{{url_for('journal_entry_edit', item_id=entry.id)}}">Edit</a>
                      <a type="submit" class="btn btn-outline-dark btn-sm m-1"
                        href="{{url_for('delete_entry_item', item_id=entry.id)}}">Delete</a>
                    </div>
                  </div>
                  {% endif %}
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>
  </div>
  <div class="container">
    <footer class="footer mt-auto my-4 pt-5 text-center fw-bold fs-5">
      <div class="row justify-content-center mb-3">
        <div class="col-auto">
          <a href="{{url_for('mission')}}" class="nav-link" style="color: #453C41;">Mission</a>
        </div>
        <div class="col-auto">
          <a type="button" href="{{url_for('privacy')}}" class="nav-link" style="color: #453C41;">Privacy</a>
        </div>
        <div class="col-auto">
          <a href="{{url_for('contact')}}" class="nav-link" style="color: #453C41;">Contact</a>
        </div>
      </div>
      <p>&copy; <span id="year"></span> {{name}}, Inc</p>
    </footer>
  </div>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
  <script>
    function showMore(e, n) { n.preventDefault(); var l = document.getElementById("dots-" + e), t = document.getElementById("more-" + e), s = document.getElementById("short-text-" + e), y = document.getElementById("read-more-" + e); "none" === l.style.display ? (l.style.display = "inline", y.innerHTML = "Read more", t.style.display = "none", s.style.display = "inline") : (l.style.display = "none", y.innerHTML = "Show less", t.style.display = "inline", s.style.display = "none") }
  </script>
  <script>
    const charCount = document.getElementById("charCount");
    const content = document.getElementById("content");

    content.addEventListener("input", () => {
      const remainingChars = 1001 - content.value.length;
      if (remainingChars > 0) {
        charCount.innerHTML = `${content.value.length}/1000 characters`;
        charCount.style.color = "inherit";
      } else {
        charCount.innerHTML = `You have reached the maximum character limit of 1000 characters`;
        charCount.style.color = "red";
        content.value = content.value.slice(0, 1000);
      }
    });
  </script>


  <script>
    const journal_dict = JSON.parse('{{ journal_dict | tojson | safe }}');
    const months_dict = JSON.parse('{{ months_dict | tojson | safe }}');
    const yearSelect = document.getElementById("Journal-Year");
    const monthSelect = document.getElementById("month");
    const daySelect = document.getElementById("day");

    yearSelect.addEventListener("change", () => {
      // Clear previous options
      monthSelect.innerHTML = '<option value="" disabled selected>Select month</option>';
      daySelect.innerHTML = '<option value="" disabled selected>Select day</option>';

      if (!yearSelect.value) {
        // Year not selected, disable month and day selects
        monthSelect.disabled = true;
        daySelect.disabled = true;
        return;
      }

      // Add options for selected year
      const months = Object.keys(journal_dict[yearSelect.value]);
      for (const month of months) {
        const option = document.createElement("option");
        option.value = month;
        option.text = months_dict[month];
        monthSelect.add(option);
      }

      // Enable month select
      monthSelect.disabled = false;
      monthSelect.selectedIndex = 0; // Select the default "Select month" option

      // Disable day select
      daySelect.disabled = true;
    });


    monthSelect.addEventListener("change", () => {
      // Clear previous options
      daySelect.innerHTML = '<option value="" disabled selected>Select day</option>';

      if (!monthSelect.value) {
        // Month not selected, disable day select
        daySelect.disabled = true;
        return;
      }

      // Add options for selected month
      const days = journal_dict[yearSelect.value][monthSelect.value].slice();
      days.sort();
      for (const day of days) {
        const option = document.createElement("option");
        option.value = day;
        option.text = day;
        daySelect.add(option);
      }

      // Enable day select
      daySelect.disabled = false;
      daySelect.selectedIndex = 0; // Select the default "Select day" option
    });


  </script>



  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>