<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Life Goals</title>
  <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="main-page">
  <noscript>
    <style>
      #js-disabled-message {
        display: block !important;
      }
    </style>
    <div id="js-disabled-message" class="alert alert-danger">
      This website requires JavaScript to function properly. Please enable JavaScript in your browser settings.
    </div>
  </noscript>

  <header class="main-page">
    <nav class="my-navbar navbar navbar-expand-md navbar-dark" aria-label="goals navbar">
      <div class="container-fluid my-navbar">
        <a class="navbar-brand fw-normal fs-3" href="{{url_for('home')}}">LifePath</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGoal"
          aria-controls="navbarGoal" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarGoal">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('goals')}}">Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('connections')}}">Connections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('finance')}}">Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('bucket_list')}}">Bucket List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>


  <div class="container pb-4 main-page">
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center">
      <div class="col-lg-12 col-md-9 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold pb-2">Design Your Destiny.</h1>
        <p class="lead fw-normal fs-4"><em>Socrates once said, 'The unexamined life is not worth living.' We believe
            that taking
            time to examine your life and being intentional about how you live it is essential. That's why this space is
            solely for you, a safe and personal sanctuary where you can think and write down your thoughts. Here, you
            can
            embark on a journey of self-discovery that includes exploring your life purpose, spirituality, physical
            fitness, and mental well-being. To support you along the way, we provide primers for each life goal.</em>
        </p>
        <a type="submit" class="btn btn-dark btn-lg" style="background-color: #453C41"
          href="{{url_for('add_life_goal')}}">Add a Goal</a>
      </div>
    </div>
    <hr class="mid-breaker">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flashes">{{ message }}</p>
    {% endfor %}
    {% endif%}
    {% endwith %}
    <div class="row align-items-md-stretch">
      {% for goal in user_goals %}
      {% if goal.life_goal_title != None %}
      <div class="col-md-6">
        <div class="h-100 p-5 goal-stretch border rounded-0">
          <h2 class="fw-normal fs-1">{{goal.life_goal_title}}</h2>
          <hr class="break-lines">
          <p class="goal-text"><em>"{{d_func(goal.chosen_goal)}}"</em></p>
          <hr class="break-lines">
          <a type="submit" class="btn btn-outline-light btn-sm m-1"
            href="{{url_for('life_goal_edit', life_goal_id=goal.id)}}">Edit</a>
          <a type="submit" class="btn btn-outline-light btn-sm m-1 ai-button" data-goal-id="{{goal.id}}"
            href="{{url_for('life_goal_ai_enhance', life_goal_id=goal.id)}}" id="button1">AI Enhance</a>
          <a type="submit" class="btn btn-outline-light btn-sm m-1"
            href="{{url_for('delete_life_goal', life_goal_id=goal.id)}}">Delete</a>
          <div class="d-flex align-items-center mt-3">
            <strong id="goal_spinner1_{{goal.id}}" style="display: none;">Generating edit...</strong>
            <div class="spinner-border ms-auto" role="status" aria-hidden="true" id="goal_spinner_{{goal.id}}"
              style="display: none;"></div>
          </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <hr class="mid-breaker mt-4">
  </div>
  <div class="container footer-container">
    <footer class="footer mt-auto py-3 my-4 pt-5 text-center fw-bold fs-5">
      <p>&copy; <span id="year"></span> LifePath, Inc</p>
    </footer>
  </div>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();

    document.querySelectorAll(".ai-button").forEach(function (element) {
      element.addEventListener("click", function () {
        var spinnerId = "goal_spinner_" + this.dataset.goalId;
        var spinner1Id = "goal_spinner1_" + this.dataset.goalId;
        document.getElementById(spinner1Id).style.display = "block";
        document.getElementById(spinnerId).style.display = "block";
        this.disabled = true;
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>