<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Life Goals</title>
  <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital@1&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body class="main-page">

  <header class="main-page navs-link">
    <nav class="my-navbar navbar navbar-expand-lg navbar-dark" aria-label="goals navbar">
      <div class="container-fluid my-navbar">
        <a class="navbar-brand fw-bold fs-3" href="{{url_for('home')}}">{{name}}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGoal"
          aria-controls="navbarGoal" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarGoal">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('goals')}}">Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('connections')}}">Relationships</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('finance')}}">Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('bucket_list')}}">Bucket List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
          </ul>
          <div class="text-end pe-5">
            <a href="https://www.buymeacoffee.com/siphiwereah" target="_blank" rel="noopener noreferrer"
              class="pizza"><img
                src="https://img.buymeacoffee.com/button-api/?text=Buy us a pizza&emoji=&slug=siphiwereah&button_colour=FFDD00&font_colour=000000&font_family=Poppins&outline_colour=000000&coffee_colour=ffffff" /></a>
          </div>
        </div>
      </div>
    </nav>
  </header>


  <div class="container pb-4 main-page">
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center">
      <div class="col-lg-12 col-md-9 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold pb-2">Hi {{current_user.username.title()}}.</h1>
        <p class="lead fw-normal fs-3"><em>This section dedicated to exploring the most profound aspects of
            human existence: purpose, spirituality, self-improvement, and physical health. By delving into these topics
            and taking the time for introspection, you have the opportunity to gain deep insights that can transform
            your life.</em>
        </p>
        <a type="submit" class="btn btn-dark btn-lg btn-pulse" style="background-color: #453C41"
          href="{{url_for('add_life_goal')}}">Dive in</a>
      </div>
    </div>
    <hr class="mid-breaker">

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flashes">{{ message }}</p>
    {% endfor %}
    {% endif%}
    {% endwith %}
    <noscript>
      <style>
        #js-disabled-message {
          display: block !important;
        }
      </style>
      <div id="js-disabled-message" class="alert alert-danger">
        This website requires JavaScript to function properly. Please enable JavaScript in your browser settings.
      </div>
    </noscript>
    <div class="row align-items-md-stretch">
      {% for goal in user_goals %}
      {% if goal.life_goal_title != None %}
      <div class="col-md-6">
        <div class="h-100 p-5 goal-stretch border rounded-0">
          <h2 class="fw-normal fs-1">{{goal.life_goal_title}}</h2>
          <hr class="break-lines">
          <p id="goal-text-{{goal.id}}" class="goal-text">
            <span id="short-text-{{goal.id}}"><em>"{{d_func(goal.chosen_goal) | truncate(150)}}"</em></span>
            {% if d_func(goal.chosen_goal)|length > 150 %}
            <span id="dots-{{goal.id}}"></span>
            <span id="more-{{goal.id}}" style="display: none;"><em>"{{d_func(goal.chosen_goal)}}"</em></span>
            <a href="#" onclick="showMore('{{goal.id}}', event)" id="read-more-{{goal.id}}"
              style="color: whitesmoke;">Read more</a>
            {% endif %}
          </p>
          <hr class="break-lines">
          <a type="submit" class="btn btn-outline-light btn-sm m-1"
            href="{{url_for('life_goal_edit', life_goal_id=goal.id)}}">Edit</a>
          {% if current_user.use_count > 0 %}
          <a type="submit" class="btn btn-outline-light btn-sm m-1 ai-button" data-goal-id="{{goal.id}}"
            href="{{url_for('life_goal_ai_enhance', life_goal_id=goal.id)}}" id="button1" rel="noopener noreferrer">AI
            Enhance</a>
          {% endif %}
          <a type="submit" class="btn btn-outline-light btn-sm m-1"
            href="{{url_for('delete_life_goal', life_goal_id=goal.id)}}">Delete</a>
          {% if current_user.use_count <= 0 %} <div>
            <p class="fw-normal fs-5 mt-2 ps-1">You have run out of AI-Edits for this month.</p>
        </div>
        {% endif %}
        <div class="d-flex align-items-center mt-3">
          <strong id="goal_spinner1_{{goal.id}}" style="display: none;">Generating edit...</strong>
          <div class="spinner-border ms-auto" role="status" aria-hidden="true" id="goal_spinner_{{goal.id}}"
            style="display: none;"></div>
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>

  <hr class="mid-breaker mt-4">
  </div>
  <div class="container">
    <footer class="footer mt-auto my-4 pt-5 text-center fw-bold fs-5">
      <div class="row justify-content-center mb-3">
        <div class="col-auto">
          <a href="{{url_for('mission')}}" class="nav-link" style="color: #453C41;">Mission</a>
        </div>
        <div class="col-auto">
          <a type="button" href="{{url_for('privacy')}}" class="nav-link" style="color: #453C41;">Privacy</a>
        </div>
        <div class="col-auto">
          <a href="{{url_for('contact')}}" class="nav-link" style="color: #453C41;">Contact</a>
        </div>
      </div>
      <p>&copy; <span id="year"></span> {{name}}, Inc</p>
    </footer>
  </div>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear(), document.querySelectorAll(".ai-button").forEach(function (e) { e.addEventListener("click", function () { var e = "goal_spinner_" + this.dataset.goalId, t = "goal_spinner1_" + this.dataset.goalId; document.getElementById(t).style.display = "block", document.getElementById(e).style.display = "block", this.disabled = !0 }) });
  </script>
  <script>
    function showMore(e, n) { n.preventDefault(); var l = document.getElementById("dots-" + e), t = document.getElementById("more-" + e), s = document.getElementById("short-text-" + e), y = document.getElementById("read-more-" + e); "none" === l.style.display ? (l.style.display = "inline", y.innerHTML = "Read more", t.style.display = "none", s.style.display = "inline") : (l.style.display = "none", y.innerHTML = "Show less", t.style.display = "inline", s.style.display = "none") }
  </script>
  <script>
    // Get the button element
    const aiButton = document.getElementById('button1');

    // Add a click event listener to the button
    aiButton.addEventListener('click', function (event) {
      // Prevent the default behavior of the button
      event.preventDefault();

      // Generate a unique identifier for the URL
      const uniqueId = new Date().getTime();

      // Get the URL of the button and append the unique identifier to the query string
      const url = this.href + '?_=' + uniqueId;

      // Open the URL in the same window
      window.location.href = url;

      // Reload the page when the user navigates away from the AI Enhance page
      window.addEventListener('unload', function () {
        window.location.reload();
      });
    });
  </script>
  <script>
    window.addEventListener('load', function () {
      var button = document.querySelector('.btn-pulse');
      button.classList.add('btn-pulse-active');
      setTimeout(function () {
        button.classList.remove('btn-pulse-active');
      }, 2000);
    });
  </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>