<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Deep Connections</title>
  <link href="{{ url_for('static', filename='style.css')}}" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>

<body>


  <div class="container-fluid bg-dark">
    <nav class="navbar navbar-expand-md navbar-dark bg-dark" aria-label="goals navbar">
      <div class="container-fluid">
        <a class="navbar-brand" href="{{url_for('home')}}">Home</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGoal"
          aria-controls="navbarGoal" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarGoal">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{url_for('goals')}}">Goals</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('connections')}}">Connections</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('finance')}}">Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('bucket_list')}}">Bucket List</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
  <div class="container bg-white pb-4">
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center bg-white">
      <div class="col-md-9 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Life Goals</h1>
        <p class="lead fw-normal">"Welcome to the journey of self-discovery and purpose. Writing your life's mission
          and goals is a powerful exercise that helps you clarify your values, focus your energy, and create a roadmap
          for a fulfilling life. In this space, you will have the opportunity to reflect on and define your purpose,
          set mental development goals to enhance your cognitive abilities, physical health goals to improve your
          overall well-being, and spiritual goals to connect with your inner self. By taking this time to focus on
          your personal growth, you'll be equipped to live a more intentional and meaningful life. Let's get started!"
        </p>
        <a type="submit" class="btn btn-dark btn-lg m-1" href="{{url_for('add_life_goal')}}">Add Goal</a>
      </div>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class="flashes">{{ message }}</p>
    {% endfor %}
    {% endif%}
    {% endwith %}
    <div class="row align-items-md-stretch">
      {% for goal in user_goals %}
      {% if goal.life_goal_title != None %}
      <div class="col-md-6">
        <div class="h-100 p-5 bg-white border rounded-3">
          <h2>{{goal.life_goal_title}}</h2>
          <p>{{d_func(goal.chosen_goal)}}</p>
          <a type="submit" class="btn btn-outline-dark btn-sm m-1"
            href="{{url_for('life_goal_edit', life_goal_id=goal.id)}}">Edit</a>
          <a type="submit" class="btn btn-outline-dark btn-sm m-1 ai-button" data-goal-id="{{goal.id}}"
            href="{{url_for('life_goal_ai_enhance', life_goal_id=goal.id)}}" id="button1">AI Enhance</a>
          <a type="submit" class="btn btn-outline-dark btn-sm m-1"
            href="{{url_for('delete_life_goal', life_goal_id=goal.id)}}">Delete</a>
            <div class="d-flex align-items-center mt-3">
              <strong id="goal_spinner1_{{goal.id}}" style="display: none;">Generating edit...</strong>
              <div class="spinner-border ms-auto" role="status" aria-hidden="true" id="goal_spinner_{{goal.id}}" style="display: none;"></div>
            </div>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
  </div>
  <div class="container-fluid bg-dark pt-2 pb-1">
    <footer class="footer py-3 my-4 bg-dark">
      <p class="text-center text-muted">© 2023 Life Balance, Inc</p>
    </footer>
  </div>
  <script>
    document.querySelectorAll(".ai-button").forEach(function (element) {
      element.addEventListener("click", function () {
        var spinnerId = "goal_spinner_" + this.dataset.goalId;
        var spinner1Id = "goal_spinner1_" + this.dataset.goalId;
        document.getElementById(spinner1Id).style.display = "block";
        document.getElementById(spinnerId).style.display = "block";
        this.disabled = true;
      });
    });
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>