<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Sign Up</title>
  <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
  <link href="{{url_for('static', filename='css/styles.css')}}" rel="stylesheet">
</head>

<body class="main-page">
  <header class="main-page navs-link">
    <nav class="my-navbar navbar navbar-expand-md navbar-dark" aria-label="goals navbar">
      <div class="container-fluid my-navbar">
        <a class="navbar-brand fw-normal fs-3 my-navbar" href="{{url_for('home')}}">LifePath</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarGoal"
          aria-controls="navbarGoal" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarGoal">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            {% if not current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('implements_login')}}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page"
                href="{{url_for('implement_registration')}}">Sign up</a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('goals')}}">Life</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('connections')}}">Relationships</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('finance')}}">Finance</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('bucket_list')}}">Bucket List</a>
            </li>
            {% if current_user.id == 1 %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('bucket_list')}}">Bucket List</a>
            </li>
            {% endif %}
            <li class="nav-item">
              <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div class="container main-page">
    <div class="position-relative overflow-hidden p-3 p-md-2 m-md-2 text-center">
      <div class="col-md-9 p-lg-5 mx-auto my-5">
        <h4 class="display-4 fw-normal pb-2 page-header">Sign-up
        </h4>
        <form class="registration-form row g-3 text-start" method="post">
          <div>
            <label for="entryUsername" class="fw-bold fs-5">Username:</label>
            <input type="text" class="form-control" id="entryUsername" name="entryUsername" placeholder="Username">
          </div>
          <div>
            <label for="entryEmail" class="fw-bold fs-5">Email:</label>
            <input type="text" class="form-control" id="entryEmail" name="entryEmail" placeholder="Email">
          </div>
          <div>
            <label for="entryDate" class="fw-bold fs-5">Date of Birth:</label>
            <input type="date" class="form-control" id="entryDate" name="entryDate">
          </div>
          <div>
            <label class="fw-bold fs-5">Country:</label>
            <select class="form-select fw-normal " aria-label="Default select country" id="country" name="country">
              <option>Country</option>
              <option value="؋">Afghanistan</option>
              <option value="€">Åland Islands</option>
              <option value="Lek">Albania</option>
              <option value="دج">Algeria</option>
              <option value="$">American Samoa</option>
              <option value="€">Andorra</option>
              <option value="Kz">Angola</option>
              <option value="$">Anguilla</option>
              <option value="$">Antarctica</option>
              <option value="$">Antigua & Barbuda</option>
              <option value="$">Argentina</option>
              <option value="֏">Armenia</option>
              <option value="ƒ">Aruba</option>
              <option value="$">Australia</option>
              <option value="€">Austria</option>
              <option value="m">Azerbaijan</option>
              <option value="B$">Bahamas</option>
              <option value=".د.ب">Bahrain</option>
              <option value="৳">Bangladesh</option>
              <option value="Bds$">Barbados</option>
              <option value="Br">Belarus</option>
              <option value="€">Belgium</option>
              <option value="$">Belize</option>
              <option value="CFA">Benin</option>
              <option value="$">Bermuda</option>
              <option value="Nu.">Bhutan</option>
              <option value="Bs.">Bolivia</option>
              <option value="$">Caribbean Netherlands</option>
              <option value="KM">Bosnia & Herzegovina</option>
              <option value="P">Botswana</option>
              <option value="kr">Bouvet Island</option>
              <option value="R$">Brazil</option>
              <option value="$">British Indian Ocean Territory</option>
              <option value="B$">Brunei</option>
              <option value="Лв.">Bulgaria</option>
              <option value="CFA">Burkina Faso</option>
              <option value="FBu">Burundi</option>
              <option value="KHR">Cambodia</option>
              <option value="FCFA">Cameroon</option>
              <option value="$">Canada</option>
              <option value="$">Cape Verde</option>
              <option value="$">Cayman Islands</option>
              <option value="FCFA">Central African Republic</option>
              <option value="FCFA">Chad</option>
              <option value="$">Chile</option>
              <option value="¥">China</option>
              <option value="$">Christmas Island</option>
              <option value="$">Cocos (Keeling) Islands</option>
              <option value="$">Colombia</option>
              <option value="CF">Comoros</option>
              <option value="FC">Congo - Brazzaville</option>
              <option value="FC">Congo - Kinshasa</option>
              <option value="$">Cook Islands</option>
              <option value="₡">Costa Rica</option>
              <option value="CFA">Côte d’Ivoire</option>
              <option value="kn">Croatia</option>
              <option value="$">Cuba</option>
              <option value="ƒ">Curaçao</option>
              <option value="€">Cyprus</option>
              <option value="Kč">Czechia</option>
              <option value="Kr.">Denmark</option>
              <option value="Fdj">Djibouti</option>
              <option value="$">Dominica</option>
              <option value="$">Dominican Republic</option>
              <option value="$">Ecuador</option>
              <option value="ج.م">Egypt</option>
              <option value="$">El Salvador</option>
              <option value="FCFA">Equatorial Guinea</option>
              <option value="Nfk">Eritrea</option>
              <option value="€">Estonia</option>
              <option value="Nkf">Ethiopia</option>
              <option value="£">Falkland Islands (Islas Malvinas)</option>
              <option value="Kr.">Faroe Islands</option>
              <option value="FJ$">Fiji</option>
              <option value="€">Finland</option>
              <option value="€">France</option>
              <option value="€">French Guiana</option>
              <option value="₣">French Polynesia</option>
              <option value="€">French Southern Territories</option>
              <option value="FCFA">Gabon</option>
              <option value="D">Gambia</option>
              <option value="ლ">Georgia</option>
              <option value="€">Germany</option>
              <option value="GH₵">Ghana</option>
              <option value="£">Gibraltar</option>
              <option value="€">Greece</option>
              <option value="Kr.">Greenland</option>
              <option value="$">Grenada</option>
              <option value="€">Guadeloupe</option>
              <option value="$">Guam</option>
              <option value="Q">Guatemala</option>
              <option value="£">Guernsey</option>
              <option value="FG">Guinea</option>
              <option value="CFA">Guinea-Bissau</option>
              <option value="$">Guyana</option>
              <option value="G">Haiti</option>
              <option value="$">Heard & McDonald Islands</option>
              <option value="€">Vatican City</option>
              <option value="L">Honduras</option>
              <option value="$">Hong Kong</option>
              <option value="Ft">Hungary</option>
              <option value="kr">Iceland</option>
              <option value="₹">India</option>
              <option value="Rp">Indonesia</option>
              <option value="﷼">Iran</option>
              <option value="د.ع">Iraq</option>
              <option value="€">Ireland</option>
              <option value="£">Isle of Man</option>
              <option value="₪">Israel</option>
              <option value="€">Italy</option>
              <option value="J$">Jamaica</option>
              <option value="¥">Japan</option>
              <option value="£">Jersey</option>
              <option value="ا.د">Jordan</option>
              <option value="лв">Kazakhstan</option>
              <option value="KSh">Kenya</option>
              <option value="$">Kiribati</option>
              <option value="₩">North Korea</option>
              <option value="₩">South Korea</option>
              <option value="€">Kosovo</option>
              <option value="ك.د">Kuwait</option>
              <option value="лв">Kyrgyzstan</option>
              <option value="₭">Laos</option>
              <option value="€">Latvia</option>
              <option value="£">Lebanon</option>
              <option value="L">Lesotho</option>
              <option value="$">Liberia</option>
              <option value="د.ل">Libya</option>
              <option value="CHf">Liechtenstein</option>
              <option value="€">Lithuania</option>
              <option value="€">Luxembourg</option>
              <option value="$">Macao</option>
              <option value="ден">North Macedonia</option>
              <option value="Ar">Madagascar</option>
              <option value="MK">Malawi</option>
              <option value="RM">Malaysia</option>
              <option value="Rf">Maldives</option>
              <option value="CFA">Mali</option>
              <option value="€">Malta</option>
              <option value="$">Marshall Islands</option>
              <option value="€">Martinique</option>
              <option value="MRU">Mauritania</option>
              <option value="₨">Mauritius</option>
              <option value="€">Mayotte</option>
              <option value="$">Mexico</option>
              <option value="$">Micronesia</option>
              <option value="L">Moldova</option>
              <option value="€">Monaco</option>
              <option value="₮">Mongolia</option>
              <option value="€">Montenegro</option>
              <option value="$">Montserrat</option>
              <option value="DH">Morocco</option>
              <option value="MT">Mozambique</option>
              <option value="K">Myanmar (Burma)</option>
              <option value="$">Namibia</option>
              <option value="$">Nauru</option>
              <option value="₨">Nepal</option>
              <option value="€">Netherlands</option>
              <option value="NAf">Curaçao</option>
              <option value="₣">New Caledonia</option>
              <option value="$">New Zealand</option>
              <option value="C$">Nicaragua</option>
              <option value="CFA">Niger</option>
              <option value="₦">Nigeria</option>
              <option value="$">Niue</option>
              <option value="$">Norfolk Island</option>
              <option value="$">Northern Mariana Islands</option>
              <option value="kr">Norway</option>
              <option value=".ع.ر">Oman</option>
              <option value="₨">Pakistan</option>
              <option value="$">Palau</option>
              <option value="₪">Palestine</option>
              <option value="B/.">Panama</option>
              <option value="K">Papua New Guinea</option>
              <option value="₲">Paraguay</option>
              <option value="S/.">Peru</option>
              <option value="₱">Philippines</option>
              <option value="$">Pitcairn Islands</option>
              <option value="zł">Poland</option>
              <option value="€">Portugal</option>
              <option value="$">Puerto Rico</option>
              <option value="ق.ر">Qatar</option>
              <option value="€">Réunion</option>
              <option value="lei">Romania</option>
              <option value="₽">Russia</option>
              <option value="FRw">Rwanda</option>
              <option value="€">St. Barthélemy</option>
              <option value="£">St. Helena</option>
              <option value="$">St. Kitts & Nevis</option>
              <option value="$">St. Lucia</option>
              <option value="€">St. Martin</option>
              <option value="€">St. Pierre & Miquelon</option>
              <option value="$">St. Vincent & Grenadines</option>
              <option value="SAT">Samoa</option>
              <option value="€">San Marino</option>
              <option value="Db">São Tomé & Príncipe</option>
              <option value="﷼">Saudi Arabia</option>
              <option value="CFA">Senegal</option>
              <option value="din">Serbia</option>
              <option value="din">Serbia</option>
              <option value="SRe">Seychelles</option>
              <option value="Le">Sierra Leone</option>
              <option value="$">Singapore</option>
              <option value="ƒ">Sint Maarten</option>
              <option value="€">Slovakia</option>
              <option value="€">Slovenia</option>
              <option value="Si$">Solomon Islands</option>
              <option value="Sh.so.">Somalia</option>
              <option value="R">South Africa</option>
              <option value="£">South Georgia & South Sandwich Islands</option>
              <option value="£">South Sudan</option>
              <option value="€">Spain</option>
              <option value="Rs">Sri Lanka</option>
              <option value=".س.ج">Sudan</option>
              <option value="$">Suriname</option>
              <option value="kr">Svalbard & Jan Mayen</option>
              <option value="E">Eswatini</option>
              <option value="kr">Sweden</option>
              <option value="CHf">Switzerland</option>
              <option value="LS">Syria</option>
              <option value="$">Taiwan</option>
              <option value="SM">Tajikistan</option>
              <option value="TSh">Tanzania</option>
              <option value="฿">Thailand</option>
              <option value="$">Timor-Leste</option>
              <option value="CFA">Togo</option>
              <option value="$">Tokelau</option>
              <option value="$">Tonga</option>
              <option value="$">Trinidad & Tobago</option>
              <option value="ت.د">Tunisia</option>
              <option value="₺">Turkey</option>
              <option value="T">Turkmenistan</option>
              <option value="$">Turks & Caicos Islands</option>
              <option value="$">Tuvalu</option>
              <option value="USh">Uganda</option>
              <option value="₴">Ukraine</option>
              <option value="إ.د">United Arab Emirates</option>
              <option value="£">United Kingdom</option>
              <option value="$">United States</option>
              <option value="$">U.S. Outlying Islands</option>
              <option value="$">Uruguay</option>
              <option value="лв">Uzbekistan</option>
              <option value="VT">Vanuatu</option>
              <option value="Bs">Venezuela</option>
              <option value="₫">Vietnam</option>
              <option value="$">British Virgin Islands</option>
              <option value="$">U.S. Virgin Islands</option>
              <option value="₣">Wallis & Futuna</option>
              <option value="MAD">Western Sahara</option>
              <option value="﷼">Yemen</option>
              <option value="ZK">Zambia</option>
              <option value="$">Zimbabwe</option>
            </select>
          </div>
          <div>
            <label for="entryPassword" class="fw-bold fs-5">Password:</label>
            <input type="password" class="form-control" id="entryPassword" name="entryPassword" placeholder="Password">
          </div>
          <div>
            <button type="submit" class="btn btn-lg btn-dark" style="background-color: #453C41;">Register</button>
          </div>
        </form>
        <noscript>
          <style>
            #js-disabled-message {
              display: block !important;
            }
          </style>
          <div id="js-disabled-message" class="alert alert-danger">
            This website requires JavaScript to function properly. Please enable JavaScript in your browser settings.
          </div>
        </noscript>
      </div>
    </div>
  </div>
  <div class="container footer-container">
    <footer class="footer mt-auto  my-4 pt-5 text-center fw-bold fs-5">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{{url_for('mission')}}" class="nav-link px-2" style="color: #453C41;">Mission</a></li>
            <li class="nav-item"><a type="button" href="{{url_for('privacy')}}" class="nav-link px-2 active" style="color: #453C41;">Privacy</a></li>
            <li class="nav-item"><a href="{{url_for('contact')}}" class="nav-link px-2"
                    style="color: #453C41;">Contact</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2" style="color: #453C41;">Pricing</a></li>
        </ul>
        <p>&copy; <span id="year"></span> LifePath, Inc</p>
    </footer>
</div>
  <script>
    document.getElementById("year").innerHTML = new Date().getFullYear();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
</body>

</html>